<%= simple_form_for([:admin, :forest, :shopify, @collection]) do |f| %>
  <%= f.error_notification %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @collection %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@collection) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-md-6">
                <%= render 'admin/form_inputs/slug', f: f, hidden: true %>
                <%= f.input :description, disabled: true %>
                <%= f.input :description_html, disabled: true %>
                <%= f.input :handle, disabled: true %>
                <%= f.input :shopify_id, label: 'Shopify ID', disabled: true %>
                <%= f.input :shopify_id_base64, label: 'Shopify ID (base64 encoded)', disabled: true %>
                <%= f.input :shopify_updated_at, as: :datepicker, disabled: true %>
                <%= f.input :title, disabled: true %>
                <%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
              <div class="col-md-6">
                <%= render 'admin/form_inputs/status', f: f, record: @collection, disabled: true %>
                <%= link_to image_tag(@collection.media_item.attachment_url(:medium)), edit_admin_media_item_path(@collection.media_item), class: 'blank-link mb-3 d-inline-block', target: '_blank' if @collection.media_item.present? %>
                <% if @collection.products.present? %>
                  <label>Products</label>
                  <ul>
                    <% @collection.products.each do |product| %>
                      <li>
                        <%= link_to product.title, edit_admin_forest_shopify_product_path(product) %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# Uncomment the following partial if the record is blockable. Optionally pass the block_layout or block_kinds to the partial. %>
      <%= render 'admin/block_record/block_layout', f: f, block_layout: @block_layout, block_kinds: @block_kinds %>
    </div>
  </div>
<% end %>
