<%= simple_form_for([:admin, :forest, :shopify, @product]) do |f| %>
  <%= f.error_notification %>
  <div class="row small-gutters">
    <%= render 'admin/shared/edit/sidebar', f: f, record: @product %>
    <div class="col-md-9">
      <div class="card">
        <h1 class="h2 card-header"><%= record_name(@product) %></h1>
        <div class="card-body">
          <div class="form-inputs">
            <div class="row small-gutters">
              <div class="col-md-6">
                <%= render 'admin/form_inputs/slug', f: f, disabled: true %>
                <%= f.input :available_for_sale, disabled: true %>
                <%= f.input :title, disabled: true %>
                <%= f.input :shopify_created_at, as: :datepicker, disabled: true %>
                <%= f.input :description, disabled: true %>
                <%= f.input :description_html, disabled: true %>
                <%= f.input :handle, disabled: true %>
                <%= f.input :shopify_id, label: 'Shopify ID', disabled: true %>
                <%= f.input :shopify_id_base64, label: 'Shopify ID (base64 encoded)', disabled: true %>
                <%= f.input :product_type, disabled: true %>
                <%= f.input :shopify_published_at, as: :datepicker, disabled: true %>
                <%= f.button :submit, class: 'btn-success d-md-none' %>
              </div>
              <div class="col-md-6">
                <%= render 'admin/form_inputs/status', f: f, record: @product, disabled: true, hint: 'To hide a product, edit the product in Shopify and remove the product from the Forest CMS sales channel (do this in Shopify by setting the product to draft, deleting the product, or explicitly removing the Forest CMS sales channel).' %>
                <% if @product.media_items.present? %>
                  <label>Shopify Images</label>
                  <div class="row small-gutters">
                    <% @product.media_items.each do |media_item| %>
                      <div class="col-6 mb-3">
                        <%= link_to image_tag(media_item.attachment_url(:medium)), media_item.attachment_url, class: 'blank-link', target: '_blank' %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if @product.collections.present? %>
                  <label>Collections</label>
                  <ul>
                    <% @product.collections.each do |collection| %>
                      <li>
                        <%= link_to collection.title, edit_admin_forest_shopify_collection_path(collection) %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>

                <% if @product.product_options.present? %>
                  <label>Product Options</label>
                  <ul>
                    <% @product.product_options.each do |product_option| %>
                      <li><%= product_option.name %>: <%= product_option.values.try(:join, ', ') %></li>
                    <% end %>
                  </ul>
                <% end %>

                <% if @product.variants.present? %>
                  <label>Variants</label>
                  <ul>
                    <% @product.variants.each do |variant| %>
                      <li>
                        <%= link_to variant.title, edit_admin_forest_shopify_variant_path(variant) %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# Uncomment the following partial if the record is blockable. Optionally pass the block_layout or block_kinds to the partial. %>
      <%= render 'admin/block_record/block_layout', f: f, block_layout: @block_layout, block_kinds: @block_kinds %>
    </div>
  </div>
<% end %>
