<% content_for :index_header_button_group do %>
  <%= form_with url: sync_admin_forest_shopify_products_path, local: true do %>
    <div class="d-flex align-items-baseline">
      <% if Setting.for(Forest::Shopify::Storefront::Product::LAST_SYNC_SETTING_SLUG).present? %>
        <div class="h6 mr-2">
          <small>Synced at <span class="text-muted"><%= forest_date Time.at(Setting.for(Forest::Shopify::Storefront::Product::LAST_SYNC_SETTING_SLUG).to_i, in: Time.zone) %></span></small>
        </div>
      <% end %>
      <%= submit_tag 'Sync Now', class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
<% end %>

<%= render 'admin/headers/index', records: @products, model_name: 'Forest::Shopify::Product' %>

<div class="table-responsive">
  <table class="forest-table table table-striped table-sm">
    <thead>
      <tr>
        <% if Forest::Shopify::Product.statusable? %>
          <th></th>
        <% end %>
        <th></th>
        <th><%= table_sorter title: 'ID', path: :admin_forest_shopify_products_path, scope: :by_id, default_order: :desc %></th>
        <th>Title</th>
        <th>Handle</th>
        <th>Available For Sale</th>
        <th><%= table_sorter title: 'Created&nbsp;at'.html_safe, path: :admin_forest_shopify_products_path, scope: :by_created_at, default_order: :desc %></th>
        <th><%= table_sorter title: 'Updated&nbsp;at'.html_safe, path: :admin_forest_shopify_products_path, scope: :by_updated_at, default_order: :desc %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.includes(:featured_media_item).each do |product| %>
        <tr>
          <% if Forest::Shopify::Product.statusable? %>
            <td><%= status_indicator product %></td>
          <% end %>
          <td><%= table_thumbnail(product.featured_media_item) %></td>
          <td><%= product.id %></td>
          <td><%= product.title %></td>
          <td><%= product.handle %></td>
          <td><%= product.available_for_sale %></td>
          <td><%= forest_date product.created_at %></td>
          <td><%= forest_date product.updated_at %></td>
          <td width="1">
            <%= link_to 'Edit', edit_admin_forest_shopify_product_path(product), class: 'btn btn-xs btn-primary', role: 'button' %>
          </td>
          <% if try('product_path', product) %>
            <% if product.respond_to?(:to_friendly_param) %>
              <% param = product.to_friendly_param %>
            <% else %>
              <% param = product %>
            <% end %>
            <td width="1">
              <%= link_to 'Show', product_path(param), class: 'btn btn-xs btn-info', role: 'button', data: { turbolinks: false } %>
            </td>
          <% end %>
          <td width="1">
            <%= link_to 'Destroy', [:admin, :forest, :shopify, product], method: :delete, class: 'btn btn-xs btn-danger', role: 'button', data: { confirm: 'Are you sure you want to destroy this Product?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= pagy_bootstrap_nav_js(@pagy).html_safe if @pagy.pages > 1 %>
